
@{
    ViewBag.Title = "Exam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Assets/admin/quizz/css/style.css")
@Styles.Render("~/Assets/admin/quizz/css/Exam.css")

<div class="list_background">
    <div class="title__page" onclick="window.location.href = '@Url.Content("~/Quizz/Lesson/"+ViewBag.lessonId+"/"+ViewBag.quizzId)'">
        <div class="title__arrow right"></div>
        <h2>Exam</h2>
    </div>
    <div class="list__container" id="lstExam">
        <div style="display:flex">
            <div class="time">
                <span class="count top flipTop">2</span>
                <span class="count top">1</span>
                <span class="count bottom flipBottom">1</span>
                <span class="count bottom">2</span>
            </div>
            <div class="time">
                <span class="count top flipTop">2</span>
                <span class="count top">1</span>
                <span class="count bottom flipBottom">1</span>
                <span class="count bottom">2</span>
            </div>
            <div>:</div>
            <div class="time">
                <span class="count top flipTop">2</span>
                <span class="count top">1</span>
                <span class="count bottom flipBottom">1</span>
                <span class="count bottom">2</span>
            </div>
            <div class="time">
                <span class="count top flipTop">2</span>
                <span class="count top">1</span>
                <span class="count bottom flipBottom">1</span>
                <span class="count bottom">2</span>
            </div>
        </div>
     
    </div>


</div>


@Scripts.Render("~/Assets/admin/quizz/js/util.js")



