@model project.Models.User
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Assets/admin/quizz/css/style.css")

@Styles.Render("~/Assets/admin/home/css/home.css")

<section class="header_section">
    <div class="section_one"></div>
    <div class="header_main">
        <h1>
            Welcome To SmartEDU
        </h1>
        <p>Where you can learn and practice every subjects and earn knowledge from every field in your life.</p>
        <button class="header_btn">
            <a data-toggle="modal" data-target="#login">Join now for free</a>
        </button>
    </div>
    <div class="header_img">
        <img src="https://tecnosoluciones.com/wp-content/uploads/2019/04/Fundamentos-del-Elearning.jpg">
    </div>
</section>

<section class="header_section">
    <div class="section_two"></div>

    <div class="upper_img">
        <img src="https://www.potential.com/wp-content/uploads/2020/11/Online-teaching.png">
    </div>
    <div class="upper_main">
        <h1>
            Learn from our best teachers and quality lessons
        </h1>
        <p>Start learning today from our quality lessons and practicing with our lecturers.</p>
    </div>
</section>

<section class="header_section ">
    <div class="section_three"></div>

    <div class="lower_main">
        <h1>
            Master skills with in-depth learning
        </h1>
        <p>Apply what you learn with self-paced quizzes.</p>
    </div>
    <div class="lower_img">
        <img src="https://cdn3.vectorstock.com/i/1000x1000/05/32/online-test-questionnaire-survey-form-on-pc-vector-23350532.jpg">
    </div>
</section>
