@keyframes bounding {
    0% {
        transform: translateX(450%) scale(1,.3);
    }
    40% {
        transform: translateX(-17%) scale(1,.3);
    }
    40% {
        transform: translateX(-17%) scale(1,.9);
    }

    50% {
        transform: translateX(-52%) scale(.3,1);
    }
   
    100% {
        transform: translateX(0) scale(1,1);
    }
}
@keyframes boundingOut{
    0%{
        transform:translateX(0) scale(1,1);
    }
   
    10%{
        transform:translateX(0) scale(.6,1.2);
    }
    40%{
        transform:translateX(0) scale(1,.4);
    }
    100%{
        transform:translateX(450%) scale(1,.4);
    }
}
.list__container{
    height:800px;
}
.clock {
    display: flex;
    position: absolute;
    right: 50px;
    top: 50px;
}

.time {
    position: relative;
    height: 95px;
    width: 65px;
    perspective: 200px;
    backface-visibility: hidden;
    transform: translateZ(0);
    transform: translate3d(0,0,0);
    margin: 0 1px;
    animation: 1s ease-in-out 0s 1 slideInFromTop;
    animation-fill-mode: both;
}

.count {
    background: #202020;
    color: #f8f8f8;
    display: block;
    font-size: 2em;
    line-height: 2.4em;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

.time__divider {
    font-size: 60px;
    line-height: 75px;
    animation: 1s ease-in-out 1.3s 1 slideInFromTop;
    animation-fill-mode: both;
}

.top {
    height: 50%;
    line-height: 95px;
    transform-origin: 50% 100%;
}

.bottom {
    line-height: 0;
    height: 50%;
    top: 50%;
    transform-origin: 50% 0;
}



.flipTop {
    animation-name: flipTop;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    z-index: 1;
}

.flipBottom {
    animation-name: flipBottom;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
    z-index: 1;
}

.start__exam {
    position: absolute;
    width: 250px;
    height: 250px;
    background: #00AFA6;
    border-radius: 50%;
    top: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset -10px -10px 100px #000000c4, 0 0 0 #00AFA6, inset 0px 0px 10px #00000094;
    animation: pulse 2s infinite;
    cursor: pointer;
}

.bounding {
    animation: 2s ease 2s 1 bounding;
    animation-fill-mode: both;
}
.boundingOut{
    animation:2s ease 0s 1 boundingOut;
    animation-fill-mode:both;
}

.start__exam::after {
    /*background-color: rgba(255, 255, 255, 0.3);*/
    content: '';
    height: 45%;
    width: 12%;
    position: absolute;
    top: 4%;
    left: 15%;
    border-radius: 50%;
    transform: rotate(40deg);
}

.start__exam:hover {
    animation: none;
}

.start__exam span {
    font-size: 50px;
    text-transform: uppercase;
    color: white;
    font-family: 'futura-bold';
}

.quizz__overview {
    position: absolute;
    top: 110px;
    left: 50px;
}

    .quizz__overview .row {
        background: navy;
        margin: 40px 10px;
        width: auto;
        max-width: 600px;
        align-items: center;
        padding: 10px 100px;
        border-radius: 10px;
        position: relative;
        animation-fill-mode: both;
        box-shadow: 0 0 6px 1px #00000080;
    }

        .quizz__overview .row:nth-child(odd) {
            background: #2B6CC0;
        }

        .quizz__overview .row:nth-child(even) {
            background: #0A37AA;
        }

.row span {
    color: white;
    font-size: 18px;
}

.row.quizz_name {
    animation: 1.2s ease-in-out 0s 1 slideInFromLeft;
}

.row.quizz__des {
    animation: 1.4s ease-in-out 0s 1 slideInFromLeft;
}

.row.ques__count {
    animation: 1.6s ease-in-out 0s 1 slideInFromLeft;
}

.row.overview__level {
    animation: 1.8s ease-in-out 0s 1 slideInFromLeft;
}

.row.quizz__time {
    animation: 2s ease-in-out 0s 1 slideInFromLeft;
}

.over__des {
    width: 70px;
    height: 70px;
    background: white;
    color: #00AFA6 !important;
    border: 2px solid #2898A3;
    border-radius: 10px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 15px;
    left: 20px;
}

.quizz__level {
    height: 25px;
    display: flex;
    margin-left: 10px;
}

span.circle {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: white;
    /* position: absolute; */
    right: 0;
    box-shadow: 0 0 0 11px transparent;
    margin: 5px 6px;
}
.main-carousel {
    position: relative;
    top: 150px;
    width: 85vw;
    height: 600px;
    padding: 0 3em;
    --r: 15px;
    border-radius: calc(2*var(--r));
    border: 15px solid #f7bb03;
    box-shadow: inset 0 0 20px 20px #9c2492;
    background: linear-gradient(#f540ce, #bb11a0);
    opacity:0;
    visibility:hidden;
}
.carouser_ques {
    color: white;
    width: inherit;
    height: auto;
}
.num_ques {
    background: #f7bb03;
    width: 160px;
    padding: 5px 10px;
    position: absolute;
    top: 50px;
    left: 0;
    border-radius: 20px;
    text-align: center;
}
    .num_ques span {
        font-size: 24px;
        font-family: 'futura-book';
    }
.carouser_point {
    background: #f7bb03;
    width: 160px;
    padding: 5px 10px;
    position: absolute;
    top: 57px;
    right: 0;
    border-radius: 20px;
    text-align: center;
}
    .carouser_point span {
        font-size: 20px;
        font-family: 'futura-book';
    }
.carouser_content {
    width: 100%;
    padding: 20px;
    margin-top: 150px;
}
    .carouser_content span {
        font-size: 30px;
        width: 100%;
    }
.carouser_answer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.answer {
    background: #006699;
    margin: 10px;
    padding: 10px 20px;
    flex: 1 48%;
    border: 3px solid #FEC203;
    border-radius: 25px;
    box-sizing: border-box;
    cursor: pointer;
}
[type="radio"]{
    visibility:hidden
}
.flickity-page-dots {
    position: absolute;
    width: 100%;
    bottom: -40px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 1;
}
    .flickity-page-dots .dot {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 0 8px;
        background: #333;
        border-radius: 50%;
        opacity: .25;
        cursor: pointer;
    }